.scam-stats-container {
    background-color: #E6F0F3;
    padding: 20px;
    border-radius: 10px;
}

.stats-and-chart-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chart-section {
    width: 60%;
}

.textual-stats {
    width: 35%;
    text-align: right;
}

.map-section {
    margin-bottom: 30px;
}